<div id="<%= dom_id site_info %>">
  <p>
    <strong>Brand name:</strong>
    <%= site_info.brand_name %>
  </p>

  <p>
    <strong>Seo title:</strong>
    <%= site_info.seo_title %>
  </p>

  <p>
    <strong>Seo description:</strong>
    <%= site_info.seo_description %>
  </p>

  <p>
    <strong>Header scripts:</strong>
    <%= site_info.header_scripts %>
  </p>

  <p>
    <strong>Footer scripts:</strong>
    <%= site_info.footer_scripts %>
  </p>

  <p>
    <strong>Facebook url:</strong>
    <%= site_info.facebook_url %>
  </p>

  <p>
    <strong>Github url:</strong>
    <%= site_info.github_url %>
  </p>

  <p>
    <strong>Twitter url:</strong>
    <%= site_info.twitter_url %>
  </p>

</div>
